
body{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9dada;
  }

  .card {
    position: relative;
    width: 300px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #fff;
    transform-style: preserve-3d; 
    perspective: 1000px; 
  }

.card-container {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  gap: 20px;
  scrollbar-width: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.1) rotateY(15deg); 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0 0 15px 15px;
  transform: translateZ(60px); 
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card-status {
  background: white;
  color: black;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 12px;
}

